---
const { href, style, link, namespace, config, label } = Astro.props;
---
<button
  role="button"
  class={style}
  data-cal-link={link}
  data-cal-namespace={namespace}
  data-cal-config={config}
>
  {label}
</button>
