---
import { Image } from 'astro:assets';

// Image imports
import Project1 from '../images/project-1.webp';
import Project2 from '../images/project-2.webp';
import Projects from '../components/Projects.astro';

const ProjectList = [
  {
    year: "2024",
    title: "GreenThumb Landscaping",
    description: "Designed and developed a clean, professional website for landscaping businesses, showcasing projects, services, and enhancing client engagement through an easy-to-navigate design.",
    category:"Design",
    category2:"Development",
    link:"https://greenthumblandscapes.netlify.app/",
    image: Project1,
  },
  {
    year: "2024",
    title: "Serenity Spa",
    description: "Created an elegant and engaging website for spa businesses, highlighting its relaxing services and providing a seamless online experience for potential clients.",
    category:"Design",
    category2:"Development",
    link:"https://serenityspaservices.netlify.app/",
    image: Project2,
  },
];
---

<!-- Project Section -->
<section id="works" class="flex flex-col w-full">
  <!-- Loop through ProjectList -->
  {ProjectList.map((project, index) => (
    <article class="grid gap-2 mb-8 lg:mb-2 lg:grid-cols-2 bg-background"  data-aos="fade-up" data-aos-duration="1500" aria-labelledby={`project-${index + 1}-title`}>
      <!-- Conditionally render details or image first based on index -->
      {index % 2 === 0 ? (
        <>
          <!-- Project Details -->
          <Projects
            year={project.year}
            title={project.title}
            description={project.description}
            category={project.category}
            category2={project.category2}
            link={project.link}
          />

          <!-- Project Image -->
          <figure class="order-1 lg:order">
            <Image src={project.image} alt={`${project.title} project`} width="1920" height="1440" class="size-full rounded-lg object-cover" />
          </figure>
        </>
      ) : (
        <>
          <!-- Project Image -->
          <figure class="order-1">
            <Image src={project.image} alt={`${project.title} project`} width="1920" height="1440" class="size-full rounded-lg object-cover" />
          </figure>

          <!-- Project Details -->
          <Projects
            year={project.year}
            title={project.title}
            description={project.description}
            category={project.category}
            category2={project.category2}
            link={project.link}
          />
        </>
      )}
    </article>
  ))}
</section>
<!-- Project Section End -->
